{% extends "main/base.html" %}
{% block title %}
VLE: Login
{% endblock title %}

{% block content %}
<form id="login_form" method="post" action={% url 'login' %}>
    {% csrf_token %}
    <div id="wrapper">
        <div id="box">
            {% if error %}
                <div class="error">
                    {{ error }}
                </div>
            {% endif %}
            <div id="inputs">
                <form id='login' action='' method='post' action={% url 'login' %} accept-charset='UTF-8' style="margin-left:6px;">

                    <div class='container'>
                        <input type='text' name='username' id='username' value='' maxlength="50" size="30" placeholder="Username"/><br/>
                    </div>

                    <div class='container'>
                        <input type='password' name='password' id='password' maxlength="50" size="30" placeholder="Password" /><br/>
                    </div>

                    <div class='container'>
                        <br/> <input type='submit' name='Submit' value='Login' />
                    </div>
                </form>


                <div id="bottom">
                    <a href="http://127.0.0.1:8000/register/">Create an account</a>
                    <a class="right_a" href="#">Forgot password</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
